@import 'bourbon';

/* For small - medium tablets and screens */

@media only screen and (min-width: 768px)  {
	body {
		@include display(flex);
    @include flex-direction(column);
    min-height: 100vh;
	}

  .container {
    @include display(flex);
    @include flex(1);
  }

	main {
    @include flex-grow(1);
    @include flex-shrink(0);
    @include flex-basis(200px);
	}

  .navleft, .navright {
    position: relative;
    display: block;
    $width: 100px;
    width: $width;

    ul {
      position: fixed;
      bottom: 50px;
      width: $width;
    }
  }

	ul {
		list-style: none;
	}

	h1 {
		font-size: 3em;
	}

	p {
		font-size: 1.2em;
	}

	.navtop {
		display: none;
	}

	.navleft li, .navright li {
		margin-top: 20%;
	}

	.contactInfo li {
		margin-left: 35%;
	}

	#info {
		right: 15%;
		max-width: 70%;
		top: 10%;
		bottom: 30%;
	}

	li {
		font-size: 0.7em;
	}

	.about, #info {
		padding-top: 1em;
		line-height: 2.5em;
	}

	#info li {
		font-size: 1.2em;
	}
	.about {
		margin-left: 10%;
		margin-right: 10%;
	}

	.ariel {
		width: 76%;
		margin-right: 12%;
		margin-left: 12%;
	}

	.sun {
		max-width: 30%;

	}

	.portInfo ul {
		font-size: 1.7em;
	}

}




/* for desktop and larger tablet screens */

@media only screen and (min-width: 1100px) {

	ul {
		list-style: none;
	}

	h1 {
		font-size: 2.6em;
	}

	p {
		font-size: 1.2em;
	}

	li {
		font-size: 1em;
	}

	.navleft, .navright {
    $width: 150px;
    width: $width;

    ul {
      width: $width;
    }

    li {
      font-size: 1em;
    }
	}

	#info {
		right: 10%;
		max-width: 80%;
		top: 7.9em;
		bottom: 30%;
	}

	#info li {
		font-size: 1.2em;
	}

	a {
		font-size: 1em;
	}
	.contactInfo li {
		margin-left: 38%;
	}
	.about {
		margin-left: 20%;
		margin-right: 20%;
		line-height: 2.3em;
	}

	.second {
		margin-bottom: 6em;
	}

	.ariel {
		width: 60%;
		margin-right: 20%;
		margin-left: 20%;
	}

	.portInfo ul {
		font-size: 1.2em;
	}


}

@media only screen and (min-width: 1250px) {

  .navleft, .navright {
    $width: 160px;
    width: $width;

    ul {
      width: $width;
    }
  }

	.navleft li, .navright li {
		font-size: 1.3em;
	}

}
