@import "font-awesome";

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	font-family: arial, sans-serif;
	margin: auto;
	font-family: menlo, monaco, monospace;
	position: relative;
	min-height: 35.65em;
}

.navleft, .navright {
	display: none;
}

.navtop {
	background-color: #e4fc43;
	height: 2.81em;
}

h1 {
	text-align: center;
	padding-bottom: 0.93em;
	padding-top: 0.93em;
}

.about {
	padding-right: 0.625em;
	padding-left: 0.625em;
}

.fa-bars {
	position: absolute;
	top: 0.25em;
	bottom: 0.25em;
	right: 0.3em;
	color: #333;
	/*text-indent: 9em;
	padding-top: 0.25em;
	padding-right: 0.1em;*/

}

#navmob {
	position: absolute;
	top: 2.81em;
	bottom: 0;
	right: 0;
	width: 50%;

	overflow: hidden;
	padding: 0px;

	transition: width 0.3s ease-in;
}

#navmob ul {
	list-style: none;
}

#navmob.hidden {
	width: 0px;
}


#navmob, .navright, .navleft {
	background-color: #e4fc43;
	text-decoration: none;
	width: 50%;
}

#navmob li, .navright, .navleft {
	padding-top: 1.6em;
	text-align: center;
	min-width: 160px;
}

ul {
	min-width: 160px;
	text-align: center;
}

a {
	text-decoration: none;
	font-size: 1.25em;
	color: #333;
	font-family: menlo, monaco, monospace;
	font-weight: bold;
	text-transform: lowercase;

}

.fa-home, .fa-comment, .fa-book, .fa-columns {
	font-size: 3.5em;
	color: #333;
}

.contactPic {
	width: 7.5em;
	height: 7.5em;
	padding: .9em;
	margin: auto;
	border-radius: 50%;
	background-image: url(../images/me.png);
	margin-bottom: 1em;
}

.contactInfo {
	text-align: left;
	margin: auto;
	width: 80%;
}

.contactInfo ul {
	text-align: left;
	list-style-type: none;
	width: 100%;
	min-width: 80%;

}

.contactInfo li {
	padding-top: .8em;

}

.contactInfo i {
	font-size: 2.75em;
	padding-right: .5em;
	color: #0072bc;

}
.folio {
	margin-right: 0.625em;
	margin-left: 0.625em;
	margin-bottom: 1.25em;

}

.folio img {
	box-sizing: border-box;
	width: 100%;
}
 .folio p {
 	background-color: #e4fc43;
 	line-height: 2.3em;
 	text-align: center;
 }

 .folio a {
 	font-family: menlo, monaco, monospace;
 	font-weight: normal;
 }

#info.hidden {
	width: 0px;
}

.folioLarge img {
	width: 100%;
}

#info {
	position: absolute;
	top: 11.25em;
	bottom: 5%;
	right: 0;
	width: 100%;
	overflow: hidden;
	padding: 0px;
	transition: width 0.3s ease-in;
	background-color: #333;
	color: white;
	text-align: left;
	text-decoration: none;
	width: 100%;
	opacity: 0.97;
}

#info p, #info li {
	min-width: 15em;
	padding: 10px;
	font-weight: normal;
	text-align: left;
}

.ad {
	width: 300px;
}

.ariel {
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#resume {
	background-color: #e4fc43;
	padding: 1.5em;
	font-size: 1.2em;
	font-weight: normal;
	border-radius: 2px;
}

.resumeDiv {
	text-align: center;
	margin-top: 7em;
}

/* For small - medium tablets and screens */

@media only screen and (min-width: 768px)  {


	body {

		display: flex;
	}

	main {
		min-width: 70%;
	}

	ul {
		list-style: none;
	}

	h1 {
		font-size: 3em;
	}

	p {
		font-size: 1.2em;
	}

	.navtop {
		display: none;
	}

	.navleft, .navright {
		display: unset;
		min-width: 15%;
		min-height: 768px;
	}

	.navleft ul, .navright ul {
		list-style: none;
		margin-top: 25em;
		position: fixed;
		margin-right: 3em;
	}

	.navleft li, .navright li {
		margin-top: 20%;
	}

	.contactInfo li {
		margin-left: 35%;
	}

	#info {
		right: 15%;
		max-width: 70%;
		top: 10%;
		bottom: 30%;
	}

	li {
		font-size: 0.7em;
	}

	.about, #info {
		padding-top: 1em;
		line-height: 2.5em;
	}

	#info li {
		font-size: 1.2em;
	}
	.about {
		margin-left: 10%;
		margin-right: 10%;
	}

	.ariel {
		width: 76%;
		margin-right: 12%;
		margin-left: 12%;
	}

}




/* for desktop and larger tablet screens */

@media only screen and (min-width: 1100px) {

	body {

		display: flex;
	}

	main {
		min-width: 80%;
	}

	ul {
		list-style: none;
	}

	h1 {
		font-size: 2.6em;
	}

	p {
		font-size: 1.2em;
	}

	li {
		font-size: 1em;
	}


	.navtop {
		display: none;
	}

	.navleft, .navright {
		display: unset;
		min-width: 10%;
		min-height: 55em;
	}

	.navleft ul, .navright ul {
		list-style: none;
		margin-top: 25em;
		position: fixed;
		text-align: center;
	}

	.navleft li, .navright li {
		margin-top: 20%;
		font-size: 1em;
		margin-right: 2.5em;
	}

	#info {
		right: 10%;
		max-width: 80%;
		top: 7.9em;
		bottom: 30%;
	}

	#info li {
		font-size: 1.2em;
	}


	.folio {
		max-width: 30%;

	}

	.mainFolio {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 1em;
	}

	a {
		font-size: 1em;
	}
	.contactInfo li {
		margin-left: 38%;
	}
	.about {
		margin-left: 20%;
		margin-right: 20%;
		line-height: 2.3em;
	}

	.ariel {
		width: 60%;
		margin-right: 20%;
		margin-left: 20%;
	}

}

@media only screen and (min-width: 1250px) {

	.folio {
		max-width: 48%;

	}

	.navleft li, .navright li {
		font-size: 1.3em;
		margin-right: .9em;
	}

}































