@import "font-awesome";


* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	margin: auto;
	font-family: menlo, monaco, monospace;
	position: relative;
	min-height: 100vh;
}

.navleft, .navright {
	display: none;
	min-height: 100vh;
}

.side-link {
	color: #333;
	transition: color 0.3s;

	&:hover {
		color: #555;
	}
}

.navtop {
	background-color: #e4fc43;
	height: 2.81em;
}

h1 {
	text-align: center;
	padding-bottom: 0.93em;
	padding-top: 0.93em;
}

.about {
	padding-right: 0.625em;
	padding-left: 0.625em;
}

.second {
	margin-bottom: 3em;
}



.fa-bars {
	position: absolute;
	top: 0.25em;
	bottom: 0.25em;
	right: 0.3em;
	color: #333;
}

#navmob {
	position: absolute;
	top: 2.81em;
	bottom: 0;
	right: 0;
	width: 50%;

	overflow: hidden;
	padding: 0px;

	transition: width 0.3s ease-in;
}

#navmob ul {
	list-style: none;
}

#navmob.hidden {
	width: 0px;
}


#navmob, .navright, .navleft {
	background-color: #e4fc43;
	text-decoration: none;
	width: 50%;
}

#navmob li, .navright, .navleft {
	padding-top: 1.6em;
	text-align: center;
	min-width: 160px;
}

ul {
	min-width: 160px;
	text-align: center;
}

a {
	text-decoration: none;
	font-size: 1.25em;
	color: #333;
	font-family: menlo, monaco, monospace;
	font-weight: bold;
	text-transform: lowercase;

}

.fa-home, .fa-comment, .fa-book, .fa-columns {
	font-size: 3.5em;
}

.contactPic {
	width: 7.5em;
	height: 7.5em;
	padding: .9em;
	margin: auto;
	border-radius: 50%;
	background-image: url(../images/me.png);
	margin-bottom: 1em;
}

.contactInfo {
	text-align: left;
	margin: auto;
	width: 80%;
}

.contactInfo ul {
	text-align: left;
	list-style-type: none;
	width: 100%;
	min-width: 80%;

}

.contactInfo li {
	padding-top: .8em;

}

.contactInfo i {
	font-size: 2.75em;
	padding-right: .5em;
	color: #0072bc;

}

.contactInfo a {
	font-weight: normal;
}

.folio {
	margin-right: 0.625em;
	margin-left: 0.625em;
	margin-bottom: 2em;

}

.folio img {
	box-sizing: border-box;
	width: 100%;
}
 .folio p {
 	background-color: #e4fc43;
 	line-height: 2.3em;
 	text-align: center;
 }

 .folio a {
 	font-family: menlo, monaco, monospace;
 	font-weight: normal;
 }

#info.hidden {
	width: 0px;
}

.folioLarge img {
	width: 100%;
}

#info {
	position: absolute;
	top: 11.25em;
	bottom: 5%;
	right: 0;
	width: 100%;
	overflow: hidden;
	padding: 0px;
	transition: width 0.3s ease-in;
	background-color: #333;
	color: white;
	text-align: left;
	text-decoration: none;
	width: 100%;
	opacity: 0.97;
}

#info p, #info li {
	min-width: 15em;
	padding: 10px;
	font-weight: normal;
	text-align: left;
}

.ariel {
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#resume {
	background-color: #e4fc43;
	padding: 1.5em;
	font-size: 1.2em;
	font-weight: normal;
	border-radius: 2px;
}

.resumeDiv {
	text-align: center;
	margin-top: 7em;
}

.ariel1 {
	margin-bottom: 1em;
}

.portInfo {
	margin-right: 5%;
	margin-left: 5%;
	line-height: 2em;

	p {
		margin-bottom: 1.5em;
	}

	ul {
		list-style: disc;
		text-align: left;
		font-size: 1em;
		margin-left: 6%;
		margin-bottom: 2.5em;
	}
}

@import "media_queries";
