<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width" >
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
  <%= stylesheet_link_tag "style" %>
  
  <title>Home</title>
</head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <script type="text/javascript" src="jQuery/jquery-1.11.3.js"></script>
    <%= javascript_include_tag "moves" %>
  </body>
</html>
