<main class="main">

	<h1>Boostworks Accounting design</h1>
	
	<div class="folioLarge" >
		<img src="images/boost.png">
	</div>
	<div id="info" class="hidden">
		<p>This design was a TAFE project. The brief for this project was:</p>
		<ul>
			<li>To create a website for an accounting firm called Boostworks</li>
			<li>Professional and trustworthy looking</li>
			<li>No images were allowed to be used</li>
			<li>Up to five colours were allowed to be used</li>
			<li>Must be created using Adobe Photoshop CC</li>
		</ul>
	</div>
</main>