---
title: Boostworks design
main: Website design for "Boostworks" made in Photoshop by Arielherself / Ariel Smith-Essers.
---
<main class="main">

	<h1>Boostworks design</h1>

	<div class="portInfo">
		<p>This design was a TAFE project. The brief for this project was:</p>
		<ul>
			<li>To create a website for an accounting firm called Boostworks</li>
			<li>Professional and trustworthy looking</li>
			<li>No images were allowed to be used</li>
			<li>Up to five colours were allowed to be used</li>
			<li>Must be created using Adobe Photoshop CC</li>
		</ul>
	</div>

	<div class="folioLarge" >
		<%= image_tag "boost.png", alt: 'Boostworks design' %>
	</div>
</main>