---
title: Contact
---
<main>
	<h1>Contact</h1>
	<div class="contactPic">
	</div>

	<div class="contactInfo">
		<ul>
			<li><a href="https://twitter.com/arielherself"><i class="fa fa-twitter-square"></i>@arielherself</a></li>
			<li><a href="https://www.facebook.com/ariel.smith.92167"><i class="fa fa-facebook-square"></i>Facebook</a></li>
			<li><a href="mailto:ariel@bottledup.net"></a><i class="fa fa-envelope-o"></i>ariel@bottledup.net</li>
			<li><a href="https://instagram.com/arielherself/"><i class="fa fa-instagram"></i>@arielherself</a></li>
		</ul>
	</div>
</main>