---
title: Contact
meta: Contact page for Ariel Smith-Essers, find links to github, twitter, mail, facebook and Instagram pages.
---

	<h1>Contact</h1>
	<div class="contactPic">
	</div>

	<div class="contactInfo">
		<ul>
			<li><a href="https://github.com/arielse"><i class="fa fa-github-square"></i>arielse</a></li>
			<li><a href="https://twitter.com/arielherself"><i class="fa fa-twitter-square"></i>@arielherself</a></li>
			<li><a href="mailto:ariel@bottledup.net"><i class="fa fa-envelope-o"></i>ariel@bottledup.net</a></li>
			<li><a href="https://www.facebook.com/ariel.smith.92167"><i class="fa fa-facebook-square"></i>Facebook</a></li>
			<li><a href="https://instagram.com/arielherself/"><i class="fa fa-instagram"></i>@arielherself</a></li>
		</ul>
	</div>
