---
title: Home
---

<main class="main">
	<h1>Ariel</h1>
	<p class="about">Here is some information about me. Including the type of jobs I'm interested in and the skills I can do. As well as some personal information like: things I enjoy, where I grew up, how I came into design and programming, what I find the most enjoyable and interesting about design, etc etc etc.</p>
</main>