---
title: Home
meta: Arielherself / Ariel Smith-Essers is a designer, artist and front-end developer. Passionate about mobile first and responsive website design and construction. 
---

<main class="main">
	<h1>Ariel</h1>
	<%= image_tag "me.jpg", alt: 'photo of me', class:"ariel1 ariel" %>
	<div class="about">

		<p>Hi I'm Ariel, a designer, artist, and front-end developer. I am passionate about colour, mobile first web design, and creating beautiful and functional websites. </p>
		<br>
		<p>A recent graduate of the University of Sydney with a Bachelor of Visual Arts, I completed a Certificate IV in Web Design from Hornby TAFE in June.</p>
		<br>
		<p>HTML, CSS, JavaScript, JQuery, and design are my passions. I am ideally looking for a junior position that will utilize and nurture both my design and front-end development skills.</p>
	</div>

		<%= image_tag "game.png", alt: 'snakes and ladders artwork', class:'ariel' %>

	<div class="about second">
		<p>Creativity of all kinds is what drives me, whether it's coding, drawing, sculpting, or knitting. I also strongly believe that designing and creating is very important, which is why my focus is on both design and front-end development.</p>
	</div>

</main>