---
title: Home
---

<main class="main">
	<h1>Ariel</h1>
	<img src="/images/me.jpg" alt="photo of me" class="ariel">
	<p class="about">Hi I'm Ariel, a designer, artist, and front-end developer. I am passionate about colour, mobile first web design, and creating beautiful and functional websites.</p>

	<p class="about">a recent graduate of the University of Sydney with a Bachelor of Visual Arts, I completed a Certificate IV in Web Design from Hornby TAFE in June.</p>
	
	<p class="about">Creativity of all kinds is what drives me, whether it's coding, drawing, sculpting, or knitting. I also strongly believe that designing and creating is very important, which is why my focus is on both design and front-end development.</p>

	<p class="about">I am  HTML, CSS, JavaScript, JQuery, and design are my passions. I am ideally looking for a junior position that will utilize and nurture both my design and front-end development skills.</p>
</main>