---
title: Home
---

<main class="main">
	<h1>Ariel</h1>
	<img src="/images/me.jpg" alt="photo of me" class="ariel">
	<p class="about">I am Ariel, a designer, artist, and front-end developer. I am passionate about colour, mobile first web design, and creating beautiful and functional websites.</p>
	<p class="about">Creativity of all kinds is what drives me, whether it's coding, drawing, sculpting, or knitting. I also strongly believe that designing and creating is very important, which is why my focus is on both design and front-end development.</p>
</main>