---
title: Resume
---
<main>
	<h1>Resume</h1>

	<p class="about">Hi! I see that you're interested in my resume, click the link below to download a copy.</p>

	<br>
	<div class="resumeDiv">
		<a href="" id="resume">Resume PDF</a>
	</div>
	
</main>