---
title: Star Burger design
main: Website design for "Star Burger" made in Photoshop by Arielherself / Ariel Smith-Essers.
---
<main class="main">

	<h1>Star Burger design</h1>

	<div class="portInfo">
		<p>This design was a TAFE project. The brief for this project was:</p>
		<ul>
			<li>To create website design for a restaurant called Star Burger</li>
			<li>Fresh and bright</li>
			<li>Healthy looking</li>
			<li>Modern</li>
			<li>Must be created using Adobe Photoshop CC</li>
		</ul>
	</div>

	<div class="folioLarge" >
		<%= image_tag "starburger.jpg", alt: 'starburger design' %>
	</div>
	
</main>