<main class="main">

	<h1>Star Burger design</h1>
	
	<div class="folioLarge" >
		<img src="images/starburger.png">
	</div>
	<div id="info" class="hidden">
		<p>This design was a TAFE project. The brief for this project was to create a website for a restaurant called Star Burger that was fresh, bright, and healthy looking. We were only allowed to use the photos given to us. This was created in using Adobe Photoshop CC.</p>
	</div>
</main>