<main class="main">

	<h1>Surf Australia design</h1>
	
	<div class="folioLarge" >
		<img src="images/surfaus.png">
	</div>
	<div id="info" class="hidden">
		<p>This design was a TAFE project. The brief for this project was:</p>
		<ul>
			<li>To create a website for a surf clothing brand called Surf Australia</li>
			<li>Product images must be included</li>
			<li>Images were sourced using the appropriate creative license</li>
			<li>Target audience is women aged 30-50</li>
			<li>Must be created using Adobe Photoshop CC</li>
		</ul>
	</div>
</main>