---
title: 17 Tools design
meta: Website design for "17 Tools" made in Photoshop by Arielherself / Ariel Smith-Essers.
---
<main class="main">

	<h1>17 Tools design</h1>

	<div class="portInfo">
		<p>This design was a TAFE project. The brief for this project was:</p>
		<ul>
			<li>To create a website for a small hardware store called 17 Tools</li>
			<li>Product images must be included</li>
			<li>Target audience is men aged 30-60</li>
			<li>Images must be sourced using the appropriate creative license</li>
			<li>Must be created using Adobe Photoshop CC</li>
		</ul>
	</div>

	<div class="folioLarge" >
		<%= image_tag "17tools.png", alt: '17 tools design' %>
	</div>
	
</main>